<div class="container">
   <form [formGroup] = "formdata" (ngSubmit) = "onClickSubmit
      
         
 
          
  <table class="table">
    <thead>
      <tr>
        <th>Task Title</th>
        <th>Start date</th>
        <th>End Date</th>
        <th>Satus</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><input type = "text" class = "fortextbox" name = "emailid" placeholder = "emailid" 
         formControlName="emailid"></td>
        <td><input type = "text" class = "fortextbox" name = "emailid" placeholder = "emailid" 
         formControlName="emailid"></td>
        <td><input type = "text" class = "fortextbox" name = "emailid" placeholder = "emailid" 
         formControlName="emailid"></td>
        <td><input type = "text" class = "fortextbox" name = "emailid" placeholder = "emailid" 
         formControlName="emailid"></td>
      </tr>
      
    </tbody>
  </table>
  <input type = "submit" class = "forsubmit" value = "Log In">
   </form>
</div>
