

<div>
   <form [formGroup] = "formdata" (ngSubmit) = "onClickSubmit(formdata.value)" >
    <span>Task Tile</span>&nbsp;&nbsp;&nbsp;  <input type = "text" class = "fortextbox" name = "title" placeholder = "title" 
         formControlName="title">
      <br/>
      
     <span>Task Description</span> &nbsp;&nbsp;&nbsp; <input type = "text" class = "fortextbox" name="desc" 
         placeholder = "desc" formControlName = "desc">
      <br/>
    <span>start Date</span> &nbsp;&nbsp;&nbsp; <input type = "text" class = "fortextbox" name = "startDate" placeholder = "startDate" 
         formControlName="startDate">
      <br/>
      
     <span>End Date</span>&nbsp;&nbsp;&nbsp; <input type = "text" class = "fortextbox" name="endDate" 
         placeholder = "endDate" formControlName = "endDate">
      <br/>
      <input type = "submit" class = "forsubmit" value = "Save">
   </form>
</div>


<div class="container">
    
          
  <table class="table">
    <thead>
      <tr>
        <th>Task Title</th>
        <th>Start date</th>
        <th>End Date</th>
        <th>Satus</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let todo of todoList">
        <td>{{todo.title}}</td>
        <td>{{todo.endDate}}</td>
        <td>{{todo.endDate}}</td>
        <td>{{todo.status}}</td>
      </tr>
      
    </tbody>
  </table>
  
  
</div>
